.polygon-btn {
  background-color: coral;
  color: white;
  /*
  padding: 20px 40px;
  font-size: 16px;
  */
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  clip-path: polygon(50% 0%, 100% 105%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.content{
/*
background-color: #1c388c7f;
*/
}

.content2{
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.polygon-btn:hover {
  background-color: darkorange;
}

.kuld{
    background-color: green;
}

form{
    border: 1px solid black;
}

form select, form input:not([type="datetime-local"]){
    /*
    */
    max-width: 160px;
}

form input[type="date"]{
    width: 120px !important;
}

html, body{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #1c388c;
}

main{
   /* background-color: #f8f0f0;*/
    padding: 35px;
    margin: 35px;
    margin-top: 0px;
}

header{
    background-color: #fefefee0;
}

header{
    display: flex;
}

header>.l{
    /*
    padding: 16px;
    */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cancel{
    background-color: #ff1b1b;
}

.aktuel{
    background-color: yellow;
}

input[type="submit"]{
    background-color: green;
}

table *:not(form *){
    border:  1px solid white;
}

header li{
    list-style-type: none;
    /*
    float: left;
    */
}

header .right{
    float: right;
}

header img{
    display: block;
    width: 5%;
    min-width: 80px;
}

.fel{
    /*
    width: calc(50%-1px);
    float: left;
    */
    border: 1px solid white;
    color: white;
    font: 32;
    padding: 35px;
}

main::after, header::after {
  content: "";
  display: block;
  clear: both;
}