[runsclick*='\1'], .kuld{
    background-color: green;
}

form{
    display: grid;
    grid-template-columns: 1fr;
}
form>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
form>div>label{
    /*
    float:right;
    justify-self: end;
    */
    margin-right: 18px;
}
form>p>input{
    float: right;
}
form *:not(div){
    margin: 2.5px;
}

form select, form input{
    max-width: 120px;
}

html, body{
     margin: 0px;
    padding: 0px;
}
body{
    background-color: #1c388c;
}

main{
   /* background-color: #f8f0f0;*/
    padding: 35px;
    margin: 35px;
    margin-top: 0px;
}

header{
    padding: 16px;
}

table.retn *{
    border:  1px solid white;
}

header li{
    list-style-type: none;
    float: left;
}

header li.right{
    float: right;
}

.fel{
    border: 1px solid white;
    width: calc(50%-1px);
    float: left;
    color: white;
    font: 32;
    padding: 35px;
}

main::after, header::after {
  content: "";
  display: block;
  clear: both;
}