dg-div{
	display: grid;
	height: 100%;
}

th > dg-div{
	gap: 13px;
	background: white;

}

td > dg-div{
	gap: 13px;
	background: white;
}

th > dg-div > *{
	background: blue;
	padding: 4px;
}

td > dg-div > *{
	background: blue;
	padding: 4px;
}

.cBL-TA{
	grid-template-columns: repeat(3, minmax(max-content, 1fr));
	grid-template-areas: 
		"e e c"
		"e e b"
		"d a a"
	;
}

.cBL-TA * {
	/*
	*/
}

.megnTermek-TA{
	grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 2fr);
	grid-template-areas: 
		"a b"
		"a b"
		"c c"
	;
}
