form[disabled] [type='submit']{
    pointer-events: none;
    opacity: 0.5;
    background-color: red;
}

.content, .content2{
    background-color: #1c388cb0;
}

.urlapok{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form, form>div[cgrid="1"]{
    display: grid;
    grid-template-columns: 1fr;
    padding: 18px;
}
form label::after{
    content: ":";
}
form input:not(.settr):not(.mez):not([type="submit"]), form select:not(.settr):not(.mez){
    pointer-events:none;
    background:#AAA;
    color:#F5F5F5;
}
form>div, form>div[cgrid="2"]{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
form>div>label{
    /*
    float:right;
    justify-self: end;
    */
    margin-right: 18px;
}
form>p>input{
    float: right;
}
form *:not(div){
    margin: 2.5px;
}

td button{
    margin: 4px;
}

body{
  padding: 0;
  margin: 0;
  background-image: url("resources/images/Honlapra-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

input[type="text"], input[type="number"], input[type="password"], select, button{
    min-height: 23px;
    border-radius: 4px;
}

.urlap li{
    list-style-type: none;
}